/* Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

header {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.croptable {
    list-style: grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 20%;

}

.form{
    display: grid;
}

ul li {
    list-style-type: disc;
    padding: 1em 2em .8em 2em;
    border: 1px solid rgb(255, 0, 0);

}